.menu {
    z-index: 1000;
    position: fixed;
    display: block;
    overflow: hidden;
    width: 180px;
    background-color: #f46267;
    color: #fff;
    transition: all 0.5s ease;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
}
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu a, .menu > label {
    display: block;
    height: 25px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

.menu a:hover {
    color: #000;
}
/*-hover 가상 선택자를 이용해, 마우스를 올려놓으면 하얀색 바탕화면에, 검정색 글씨가 나오게 설정-*/
.menu ul li:hover, .menu > label:hover {
    background-color: #fff;
    color: #000;
    border-radius: 10px;
   
}
.menu div {
    position: absolute;
    left: 50px;
    line-height: 1.5;
    font-size: 1em;
    font-family: 'Noto Sans KR';
    padding: 0 0 0 20px;
}

#expand-menu {
    display: none;
}
/*-checked 가상 선택자를 이용하여 메뉴만 존재하는 형태에서, 클릭시 display : block으로 변하면서,  height을 아이콘 수에 맞게 맞춰 아이콘들이 나오게 표시-*/
#expand-menu:checked ~ ul {
    display: block;
    height: auto;
}

.menu #expand-menu:not(:checked) ~ ul {
    display: none;
}

.menu ::before {
    font-family: 'Material Icons';
    font-size: 1.5em;
    float: left;
    clear: left;
}

/*-Google Icon을 이용해 아이콘을 사용, Google Icon 사용하기 위한 해당 링크를 head 태그 안에 삽입-*/
.menu label::before{ content: '\e5d2'; }
.menu li:nth-child(1) a::before{ content: '\e88a'; }
.menu li:nth-child(2) a::before{ content: '\e87d'; }
.menu li:nth-child(3) a::before{ content: '\e878'; }
.menu li:nth-child(4) a::before{ content: '\e55b'; }
.menu li:nth-child(5) a::before{ content: '\e0b0'; }
.menu li:nth-child(6) a::before{ content: '\ea70'; }

/*-media 태그를 이용해 1~1023px 에서는 아이콘만 존재 하는 형식, 1024px 이상에서는 아이콘과 text가 같이 존재 하는 형식-*/
@media screen and (max-width:1023px) {
    .menu {
        width: 60px;
    }
}
@media screen and (max-width:560px) {
    .menu #expand-menu:not(:checked) ~ ul {
        display: none;
    }
}